/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

div#topbar .fl-rich-text p {
  margin: 0;
  padding: 0;
}

div#topbar .fl-rich-text a {
  position: relative;
  margin-right: 20px;
}

div#topbar .fl-rich-text a.phone.retailer:before {
  content: "\f095";
  font-family: FontAwesome;
  left: -15px;
  position: absolute;
}

div#topbar .fl-rich-text a span.street_address.retailer:before {
  content: "\f041";
  font-family: FontAwesome;
  left: -10px;
  position: absolute;
}

li.menu-item.fl-menu-search-item.focus a.fl-button,
li.menu-item.fl-menu-search-item a.fl-button {
  padding-right: 0;
}

.fl-slide .fl-slide-content-wrap {
  width: 100% !important;
}

.rmp-container .rmp-menu-additional-content a {
  color: #fff;
}
.bottom-pager .facetwp-pager {
  float: none;
  text-align: right;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a:hover {
  color: #bf3535;
}
.uabb-gf-style .gform_wrapper .gfield_checkbox li label a:hover {
  color: #fff;
}
.uabb-gf-style
  .gform_body
  .ginput_container_checkbox
  .gfield_checkbox
  li
  label {
  padding-right: 0px;
}
.fl-page-nav ul.sub-menu {
  border-top: 3px solid #bf3535;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item > a {
  color: #bf3535;
}
.gform_wrapper select option {
  color: #000;
}
.fl-page-nav .navbar-nav li > a {
  padding: 15px 10px;
}
.storename .store-opening-hrs-container ul.store-opening-hrs {
  padding: 0px;
}
.fl-content-slider-navigation .slider-prev,
.fl-content-slider-navigation .slider-next {
  background: rgba(191, 53, 53, 0.3);
}
.uabb-gf-style
  .gform_body
  .ginput_container_checkbox
  .gfield_checkbox
  li
  label
  a {
  color: #fff;
}
.uabb-gf-style
  .gform_body
  .ginput_container_checkbox
  .gfield_checkbox
  li
  label
  a:hover {
  text-decoration: underline;
}

div#team_members_photo
  .uabb-team-wrap
  .uabb-imgicon-wrap
  .uabb-image-content
  img {
  max-height: 343px;
  min-height: 343px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: top;
}

div#our_team_gallery
  .uabb-photo-gallery
  .uabb-photo-gallery-content
  .uabb-gallery-img,
div#our_team_gallery
  .uabb-masonary-content
  .uabb-photo-gallery-content
  .uabb-gallery-img {
  max-height: 250px;
  min-height: 250px;
  max-width: 100%;
  object-fit: cover;
  object-position: top;
}

.facet_wrap button,
.page-info .pagination_wrapper > div button,
div#mm-product-list .facet_wrap button,
.products-list
  .product-plp-grid.product-grid.swatch.facetwp-template1
  .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a {
  background: #bf3535 !important;
  color: #fafafa !important;
  border-radius: 0px !important;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 14px;
  letter-spacing: 2px;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper > div button:hover,
div#mm-product-list .facet_wrap button:hover,
.products-list
  .product-plp-grid.product-grid.swatch.facetwp-template1
  .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover {
  background: #474747 !important;
  color: #fafafa !important;
  border-radius: 0px !important;
  text-transform: uppercase;
}
.facetwp-selections ul:before,
div#mm-product-list .product-list-container .facet_filters strong {
  border-bottom: 2px solid #c92828 !important;
  color: #c92828 !important;
}

/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #630a0a;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #630a0a;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}
.fl-slide-content-wrap .fl-slide-title {
  margin: 0px !important;
}
.product-colors ul li.found {
  margin-right: 5px;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #c92828;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #fff !important;
  color: #000 !important;
  border-radius: 0px !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #474747 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #474747 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #bf3535 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #474747 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #474747 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #bf3535 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #474747 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #bf3535 !important;
}

.gfield_captcha_input_container.math_medium input {
  width: 80px !important;
}	

.gform-footer.gform_footer.top_label input {
  max-width: max-content;
  width: max-content;
  padding: 12px 24px;
}

.fl-page-content .fl-module-content.fl-node-content .gform-footer.gform_footer.top_label {
  text-align: left !important;
}

@media (max-width: 1024px) {
  .fl-page-bar .fl-page-bar-row.row .col-sm-6.col-md-6 {
    width: 100% !important;
  }
  .fl-page-bar .text-right .fl-page-bar-nav {
    text-align: center !important;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .fl-page-bar nav {
    display: block;
    width: 100%;
  }
  .fl-page-bar .fl-page-bar-text-1 a {
    margin-right: 0 !important;
  }
  .fl-page-bar .text-left {
    width: 100% !important;
    display: block !important;
    text-align: center;
  }
  .fl-page-header-primary .fl-page-header-logo .fl-logo-img {
    max-width: 130px;
    width: 100%;
  }
  .fl-page-nav-right .fl-page-header-logo {
    text-align: center;
  }
  .style-product_list .pro-container .pro-details .button-wrapper a.button {
    min-width: 10px;
  }
  .style-product_list .pro-container > .row > .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .style-product_list .pro-container > .row > .col-md-7 {
    flex: 0 0 57.33333%;
  }
  div#team_members_photo
    .uabb-team-wrap
    .uabb-imgicon-wrap
    .uabb-image-content
    img {
    max-height: 300px;
    min-height: 300px;
  }
}
@media (max-width: 992px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0px !important;
  }

  .footer-address-wrp .fl-module-content .fl-rich-text p {
    margin-bottom: 0px !important;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: auto !important;
  }
  .facetwp-per-page-select {
    margin-right: 0px;
  }
  .facet_filters {
    position: static;
    width: auto;
    box-shadow: none;
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }
  .facetwp-per-page,
  .facetwp-pager {
    text-align: right !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: left !important;
  }

  .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col > .fl-col-content {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  .fl-builder-content-97052 .fl-col[data-node] .fl-col-content {
    margin: 0px;
  }
  .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img {
    padding: 0 20px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495deccd.fl-row
    > .fl-row-content-wrap {
    padding-bottom: 30px;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decc9.fl-row
    > .fl-row-content-wrap {
    margin-top: -49px !important;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd6 > .fl-module-content,
  .fl-builder-content-97052 .fl-node-5d7f5495dece3 > .fl-module-content {
    margin-top: 20px !important;
  }
  .fl-builder-content-97052
    .fl-node-5dcd4a3e3035b.fl-module
    > .fl-module-content {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba > .fl-col-content {
    margin-right: 10px;
    margin-left: 10px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decba {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052
    .fl-node-5d7f5495decb6.fl-row
    > .fl-row-content-wrap {
    padding-top: 0px;
  }
  .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .fl-builder-content-97052
    .fl-node-5d83277bab2cd.fl-module
    > .fl-module-content {
    margin-top: 30px;
    padding: 0px 20px;
  }
  .fl-builder-content-97052 .fl-visible-desktop-medium {
    display: none;
  }
  .fl-builder-content-97052 .fl-visible-mobile {
    display: block;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd8 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-custom-width.fl-col-group-responsive-reversed
    .fl-node-5d7f5495decd9 {
    flex-basis: 100%;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(1) {
    -webkit-box-ordinal-group: 12;
    -moz-box-ordinal-group: 12;
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .fl-builder-content-97052
    .fl-col-group-responsive-reversed
    .fl-col:nth-of-type(2) {
    -webkit-box-ordinal-group: 11;
    -moz-box-ordinal-group: 11;
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col > .fl-col-content {
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
    text-align: center;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
    width: 100% !important;
    max-width: none;
    clear: none;
    float: left;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col > .fl-col-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-builder-content-97052 .fl-node-5d7f5495dece2 > .fl-module-content {
    margin: 20px 0 !important;
  }

  div#our_team_gallery
    .uabb-photo-gallery
    .uabb-photo-gallery-content
    .uabb-gallery-img,
  div#our_team_gallery
    .uabb-masonary-content
    .uabb-photo-gallery-content
    .uabb-gallery-img {
    max-height: 350px;
    min-height: 350px;
  }
}
@media (max-width: 767px) {
  .facetwp-per-page-select {
    margin-right: auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-per-page,
  .facetwp-pager {
    float: none;
  }
  .facetwp-per-page,
  .facetwp-pager,
  #product-list-top-filters .fl-heading,
  .facetwp-counts {
    text-align: center !important;
  }
}
@media (max-width: 670px) {
  .fl-page-bar-nav > li > a {
    padding: 2px 4px !important;
  }
  .storename .store-opening-hrs-container .store-opening-hrs {
    padding-left: 0px;
  }
  .storename .store-opening-hrs-container .store-opening-hrs li {
    border-bottom: 1px solid #000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  div#our_team_gallery
    .uabb-photo-gallery
    .uabb-photo-gallery-content
    .uabb-gallery-img,
  div#our_team_gallery
    .uabb-masonary-content
    .uabb-photo-gallery-content
    .uabb-gallery-img {
    max-height: 200px;
    min-height: 200px;
  }
  button#rmp_menu_trigger-1134869 {
    top: 150px;
  }
  ul#menu-header-menu-1 {
    flex-direction: column;
  }
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
  .fl-page-content .fl-module-content.fl-node-content *,
  .fl-page-content .fl-module-content.fl-node-content ul.storename *,
  .fl-page-content .fl-module-content.fl-node-content ul.storename li * {
    text-align: center !important;
  }
  .fl-page-content .fl-module-content.fl-node-content ul *,
  .fl-page-content .fl-module-content.fl-node-content ol *,
  .fl-page-content .facet_filters *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content ul *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content * {
    text-align: left !important;
  }

  #rmp_menu_trigger-1134869 {
    top: 108px;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
}

/* PLP Page Css iPad Air */

@media only screen and (max-width: 321px) {
  .rmp-submenu .rmp-menu-item-link {
    font-size: 11px !important;
  }

  .fl-page-content .fl-module-content.fl-node-content h1.uabb-heading,
  .fl-page-content .fl-module-content.fl-node-content h1 {
    line-height: 1.2;
  }

  .fl-page-content
    .fl-module-content.fl-node-content
    h1.uabb-heading
    span.uabb-heading-text,
  .fl-page-content
    .fl-module-content.fl-node-content
    h1
    span.uabb-heading-text {
    font-size: 32px !important;
  }
}
